@font-face {
  font-family: "Hypatia";
  src: url('../styles/fonts/Hypatia/HypatiaSansPro-Regular.otf') format('opentype'), url('../styles/fonts/Alex/AlexBrush-Regular.ttf') format('opentype');
}

@media only screen and (min-width: 320px) {
  body {
    font-family: Hypatia;
    background-color: black;
  }
  @font-face {
    font-family: "Hypatia";
    src: url('../styles/fonts/Hypatia/HypatiaSansPro-Regular.otf') format('opentype'), url('../styles/fonts/Alex/AlexBrush-Regular.ttf') format('opentype');
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu {
    width: 100%;
    display: block;
  }
  .button {
    opacity: 0.6;
    height: 20vh;
    text-align: center;
    vertical-align: middle;

  }
  .btn {
    align-items: center;
  }
}
